body{
	background-color: #aaa;
}

.header{
	width:100%;
	height: 50px;
	
	margin-bottom: 25px;
	text-align: center;
	border-bottom: solid 1px 
}

#root{
	width:75%;
	padding: 10px;
	margin: 0 10%;
	border: 1px solid #333;
	background-color: #ccc;
	float: left;

}

.navigation{
	
	float: left;
	margin-left: 2%;
	text-align: left;
	width: 15%;
}

.navigation li{
	list-style-type: none;
}



.content{
	width: 75%;
	padding: 20px;
	margin-right: 20px;
	float: right;
	background-color:#dddddd;
}

.task{
	position: relative;
	padding-bottom: 10px;
	border-bottom: solid 1px;
}

#pageNav{
	width: 75%;
	padding: 10px;
	margin-right: 10px;
	float: right;
}

#previous{
	float: left;
}

#next{
	float: right;
}

.pQuestion{
	width: 55%;
	padding: 1%;
}

.imgQ{
	display: inline-block;
	top: 0px;
	left: 0px;
	width: 55%;
	padding: 1%;
}



.imgGrid{
	position: absolute;
	top: 0px;
	right: 0px;
	width:18em;
	height: 12.6em;
}

.imgGrid1{
	position: absolute;
	top: 0px;
	right: 0px;
	width:12em;
	height: 13em;
}

.videoGrid{
	width:18em;
	height: 12.6em;
}

.videoGridCorner{
	position: absolute;
	top: 0px;
	right: 0px;
	width:19em;
	height: 14em;
}

.response{
	background-color: #f9f9f9;
	width: 99%;
	padding: 1%;
	border: solid 1px #aaaaaa;
}
.responseDiv{
	
	width: 55%;
	padding-left: 1%;
	padding-right: 1%
}

.scroll{
	width: 90%;
    max-height: 200px;
    overflow: auto;
    overflow-y:scroll;
    background-color: #fdfdfd;
    border: solid 1px #aaaaaa;

}

.definition{
	background-color: #fdfdfd;
}
.comment{
	border-bottom: solid 1px #cccccc;
	padding: 5px;
	margin-right: 2px;
	margin-right: 2px;
}

